<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if error %}
    <div align="center">
        <h1 style="color: mediumvioletred"><i>{{ error }}</i></h1>
        <h3 style="color: mediumvioletred"><i>Вы можете сделать заказ или войти под другим пользователем</i></h3>
        <a href="/form/">Сделать заказ</a>
        <a href="/accounts/login/">Сменить пользователя</a>
    </div>
{% elif thanks %}
    <div align="center">
        <h1 style="color: lightseagreen"><i>{{ thanks }}</i></h1>
        <a href="/form/">Сделать еще один заказ</a>
    </div>
{% else %}
<form action="/admin_page/" method="post">
{% csrf_token %}
{% if message %}
    <h1 align="center" style="color: mediumvioletred"><i>{{ message }}</i></h1>
{% endif %}
{% if orders %}
<table border="1" align="center" bgcolor="#fff0f5">
    <tr bgcolor=#d8bfd8 align="center">
        <th>
            ✓
        </th>
        <th>
            Что купить
        </th>
        <th>
            Кому
        </th>
         <th>
            EMAIL
        </th>
         <th>
            Оплачено BYN
        </th>
        <th>
            Оплачено BYR
        </th>
        <th>
            Комментарий
        </th>
    </tr>
    {% for order in orders %}
    <tr align="center">
    <td>
        <input type="radio" value="{{ order.id }}" name="checked">
    </td>
    <td>
        {{ order.buy_product }}
    </td>
    <td>
        {{ order.name }}
    </td>
    <td>
        {{ order.email }}
    </td>
    <td>
        {{ order.byn }}
    </td>
    <td>
        {{ order.byr }}
    </td>
    <td>
        {{ order.comment }}
    </td>
    </tr>
{% endfor %}
</table>
<div align="center">
<button type="submit" name="update" style="background-color: lightgreen">Редактировать заказ</button>
<button type="submit" name="delete" style="background-color: indianred">Удалить заказ</button>
<p><b>ВСЕГО BYN:</b> {{ totals.total_byn }} руб.</p>
<p><b>ВСЕГО BYR:</b> {{ totals.total_byr }} руб.</p>
<p><b>ИТОГО (BYN):</b> {{ totals.total }} руб.</p>
</div>
</form>
{% else %}
    <div align="center">
        <h1 style="color: mediumvioletred"><i>Заказы отсутствуют</i></h1>
        <a href="/form/">Сделать заказ</a>
    </div>
{% endif %}
{% endif %}
</body>
</html>